@model HospitalManagementNew.Models.AppointmentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}


<head>
    @Styles.Render("~/Content/hospitalstyles.css")


</head>




<div class="register">
    <h2>Register</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal register_background">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group register_texts">
        @Html.LabelFor(model => model.patientname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.patientname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.patientname, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group register_texts">
        @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group register_texts">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @*@ @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })@*@
            Male
            @Html.RadioButtonFor(model => model.gender, "male")
            Female
            @Html.RadioButtonFor(model => model.gender, "female")

        </div>
        @Html.ValidationMessageFor(Model => Model.gender, "", new { @class = "text-danger" })

    </div>

    <div class="form-group register_texts">
        @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group register_texts">
        @Html.LabelFor(model => model.patientaddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.patientaddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.patientaddress, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group register_texts">
        @Html.LabelFor(model => model.phoneno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.phoneno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phoneno, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group register_texts">
        @Html.LabelFor(model => model.emailid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.emailid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.emailid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group register_texts">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group register_texts">
        @Html.LabelFor(model => model.datebooked, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.datebooked, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.datebooked, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group register_texts">
        @Html.LabelFor(model => model.dept, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dept, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dept, "", new { @class = "text-danger" })
        </div>
    </div>

    @*@ <div class="form-group register_texts">
            @Html.LabelFor(model => model.datebooked, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datebooked, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datebooked, "", new { @class = "text-danger" })
            </div>
        </div>@*@

    <div class="form-group register_button">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-info" />
        </div>
    </div>


</div>
    }

   