@model IEnumerable<HospitalManagementNew.Models.AppointmentModel>

@{
    ViewBag.Title = "Index";
}

<h3>Welcome to Mothers Hospital</h3>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientaddress)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datebooked)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientaddress)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datebooked)
            </td>
            <td>
                @Html.ActionLink("Book ", "Booked", new { id = item.bookid }, new {@class="btn btn-primary"}) &nbsp
                @Html.ActionLink("Check Status", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" }) 
                @*@@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })@*@
            </td>
        </tr>
    }

</table>
