<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
   
    @Scripts.Render("~/bundles/modernizr")
</head>




<body>
    <div class="navbar navbar-dark navbar-expand-sm navbar-fixed-top bg-success">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" title="more options" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mothers Hospital", "Index", "patient", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse " id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "patient", null, new { @class = "nav-link" })</li>

                    <li class="nav-item">@Html.ActionLink("Staff Detail", "Staffdetails", "Staffdetails", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Room Detail", "Roomdetailsdispaly", "Roomdetails", null, new { @class = "nav-link" })</li>
                    <li class="nav-item ">@Html.ActionLink("Logout", "HomeIndex", "Homepage", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
