@model IEnumerable<HospitalManagementNew.Models.BookedPatientsMode>

@{
    ViewBag.Title = "Index";
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info</strong>@TempData["error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    </div>
}

else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong>success</strong>@TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["error"] != null)
{
    <div class="alert alert-error">
        <strong>error</strong>@TempData["error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    </div>
}






<h2>Booking Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datebooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userstatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datebooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userstatus)
            </td>
            <td>
                @Html.ActionLink("Accept", "Edit", new { id = item.bookid }, new { @class = "btn btn-primary" }) &nbsp;

                @Html.ActionLink("Reject", "Cancel", new { id = item.bookid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
